<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Ленточный Фейерверк</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ленточный Фейерверк</a>
  </nav>
  <hr>

  <div class="container">
    <h5>      В наличии и на заказ изделия ручной работы в стиле канзаши.</h5>

    <div class="row">
      {% for product in products %}
      <div class="col-lg-4">
        
        <img class="thumbnail" src="{{product.imageURL}}">
        
        <div class="box-element product">
            
            
            <br>
            <a type="button" class="btn btn-info" href="{{product.imageURL}}">Смотреть..</a>
            <hr>
            <h6><strong>{{product.name}}</strong></h6>
            

          
          
        </div>
        
      </div>
      {% endfor %}

    </div>

    <hr>
    <br>

    <h8>На данной странице Вы можете заказать красивые, эксклюзивные повязки для волос, ободки, резинки и другие изделия. Украшения в качестве подарка вам и вашим близким!Все аксессуары авторской работы. Все сделано с душой и несет в себе частичку тепла и доброты!</h8>

    <hr>

    <form class="form-inline">
      <h8>По всем вопросам обращаться: 
       <a href="https://vk.com/id104191588"> Мадина Казбекова</a></h8>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>